body {
  background-color:#040f1f
}
.cursor-pointer{
  position:relative;
  left: 190px;
} 
.mccafe{
  position: absolute;
  margin-left: 50px;
  opacity: 90%;
}
.main {
  width: 500px;
/* position: absolute; */

}
.beans{
  width: 100px;
  z-index: 2;
  position: absolute;
  /* right: 20px; */ animation-name:slideleft;
    animation-iteration-count:1;
    animation-duration: 3s;
    animation-direction:normal;
  
}
@keyframes slideleft{
  from{transform:translatey(95%)}
}
